[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
tqdm = "*"
tensorflow = "*"
matplotlib = "*"
comet_ml = "*"
imageio = "*"
pydot = "*"
graphviz = "*"
keras-visualizer = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
